<div class="bd">



  <table>
    <tr>
      <th scope="col">id</th>
      <th scope="col">account</th>
      <th scope="col">amount</th>
      <th scope="col">approved</th>
      <th scope="col">date</th>
      <th scope="col">username</th>
    </tr>

    <ng-container *ngFor="let money of depositwithdrawmoney1">
        <tr>
          <td><p>{{money.id}}</p></td>
          <td><p>{{money.amount}}</p></td>
          <td><p>{{money.approved}}</p></td>
          <td><p>{{money.date}}</p></td>
          <td><p>{{money.account}}</p></td>
          <td><p>{{money.username}}</p></td>

          </tr>
    </ng-container>
  </table>

  <br><br>


</div>
